<h1>Where would you like to check the weather?<h1>

<form action ="/results" method="GET">
    
    <input type="text" placeholder="Enter the city here!" name="searchTerm">
    <input type="submit">


</form> 